html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
	background: linear-gradient(-45deg,#c44659,#96c9dd);
}
#title{
	font-family: 'Raleway', sans-serif;
	position: relative;
	top: 2%;
	font-size:45px;
	text-align: center;
}
.text{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	position: relative;
	text-align: center;
}
#music{
	font-size: 24px;
}
.footer{
	position: relative;
	text-align: center;
	top: 50px;
}
.sound{
	position: relative;
	align: center;
	height: 300px;
	width:  300px;
	margin: 0 auto;
}
#copy{
	font-size: 18px;
	font-style: italic;
}
#trends{
	position: relative;
	font-size:35px;
	text-align:left;
	left: 25%;
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
}
#upload{
	font-size:24px;
}
hr{
	width: 80%;
}
form{
	margin: 0 auto;
	width: 250px;
	transform: scale(1.5);
}
input{
	border-radius:4px;
}
input:hover{
	background-color: #ededed;
}
button{
	border-radius: 10px;
	background: linear-gradient(26deg,#6b70ff,#e87266)
	}
.song{
	padding-bottom: 5px;
	background-color: hsl(217, 24%, 96%);
	width: 50%;
	align: center;
	position: relative;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: -3px 3px 10px 3px #c49e87;
}





